*{
    box-sizing: content-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-image: url("blue-space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family:fantasy;
    text-decoration: underline;
    font-style: oblique;
    font-size: 100px;
    text-align: center;
}

table {
    table-layout: fixed;
    border-spacing: 2px; 
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: 3px solid rgba(66, 101, 240, 0.749);
}

td {
    height: 10%;  
    font-size: 30px;  
    color: white;
    text-align: center;
    background-color: rgba(87, 14, 44, 0.753);
    border: 2px solid plum;
}


td:hover{
    border-color: #f1ff5c;
    box-shadow: 0 0.5 0.5 -0.4 #f1ff5c;
    transform: translateY(-0.25em);
}

.stop-watch {
    color: rgb(241, 21, 21);
    font-size: 30px;
    position: absolute;
    right: 5%;
    top: 0;
    padding-top: 10px;
    width: 100px;
    height: 50px;
}

.hint-btn{
    background: none;
    border: none;
    display: inline-block;
    font-size: 40px;
}

button {
    display: block;
    margin: auto;
    text-align: center;
    background-color: aqua;
}

.lives{
    display: block;
    margin: auto;
    margin-top: 100px ;
    color: rgba(177, 12, 12, 0.819);
    text-align: center;
    font-size: 40px;
}

.smiley{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 40px;
}

.radio {
    color: white;
    font-size: 20px;
    font-weight: 300;
    position: inherit;
    display: block;
    text-align: center;
    margin-top: 10px;
}


/* .mine {
    
} */

.hint {
    background-color: aquamarine;
}

.radio input:checked {
    margin-left:  20px;
}

.color1{
    color: blue;
}
.color2{
    color: rgb(149, 255, 0);
}
.color3{
    color: rgb(255, 123, 0);
}
.color4{
    color: rgb(255, 0, 55);
}
.color5{
    color: rgb(0, 187, 255);
}
.color6{
    color: brown;
}
.color7{
    color: burlywood;
}
.color8{
    color: rgb(247, 0, 255);
}

 .not-shown{
    opacity:  100%;
} 
.no-number{
    opacity: 100%;
 }